## Extraccion de datos utilizando WebScraping y API Request

# Escenario del proyecto:
Se desae expandir un negocio a traves del mundo, y se requiere crear un programa que liste a los 10 economias top en orden descendente segun el fondo monetario internacional (International Monetary Fund, IMF)

In [19]:
# Instalacion de paquetes
#!pip install pandas numpy lxml
!pip install lxml beautifulsoup4

Requirement already satisfied: lxml in c:\users\pablo\appdata\local\programs\python\python312\lib\site-packages (5.3.1)
Requirement already satisfied: beautifulsoup4 in c:\users\pablo\appdata\local\programs\python\python312\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\pablo\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4) (2.5)

In [3]:
# Importacion de librerias

import numpy as np
import pandas as pd

# Funcion para ingnorar las advertencias
def alertas(*args, **kwargs):
    pass
import warnings
warnings.warn = alertas
warnings.filterwarnings('ignore')

### Analisis de table ~ 3
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/images/pandas_wbs_3.png">

In [4]:
# Extraccion de datos de UTL usando Web Scraping
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [5]:
# Se convierte a dataframe la informacion de la pagina
result = pd.read_html(URL)
result = result[3] # Seleccion de la 3ra tabla
result.columns = range(result.shape[1]) # Se reemplaza el nombre de las columnas por el numero de columns

In [6]:
df = result.copy()

In [12]:
# Seleccionar las columans que muestran Country y Value
#df = df[[0,2]]   # 0 = pais, 2 = valor
# # Indicar las primeras 10 economias del mundo
df = df.iloc[1:11,:]
# Asignacion nuevamente de los nombre de las columnas

#df.columns = ['Country', 'GDO (Million USD)']  # Al cambiar el nombre de las columnas se debe comentar esta linea
df

           Country GDO (Million USD)
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

In [ ]:
# Conversion de los datos 
df['GDO (Million USD)'] = df['GDO (Million USD)'].astype('int')    # Cambio de nombre de la columna y tipo de dato
# Convertir el Valor de GDP, de millones a billones
df[['GDO (Billion USD)']] = df[['GDO (Million USD)']]/1000         # Se agrega una nueva columna con valores
# Redondeamos la salida de GDO a 2 decimales
df[['GDO (Billion USD)']]  =  np.round(df[['GDO (Billion USD)']], decimals=2)
# df.drop(columns=['GDO (Million USD)'], inplace=True) si se desea elminar esta columna se aplica la siguiente linea
# df.rename(columns={'Column1' : 'Column2'})

           Country  GDO (Million USD)  GDO (Billion USD)
3            Japan            4409738            4409.74
4          Germany            4308854            4308.85
5            India            3736882            3736.88
6   United Kingdom            3158938            3158.94
7           France            2923489            2923.49
8            Italy            2169745            2169.74
9           Canada            2089672            2089.67
10          Brazil            2081235            2081.24

In [ ]:
# Guardar el dataframe al CSV con el nombre largest_economies.csv
df.to_csv('./largest_economies.csv', index=False)